*.swp
*.swo
*.log
*.DS_Store
DS_Store/
.DS_Store/

.tmp
.sass-cache
coverage
platforms
resources
plugins

node_modules
bower_components
<%= appPath %>/bower_components

www/_templates/
www/assets/lib
www/app/bundle.js

scss/_components
