scss/_components

www/_templates/
www/assets/lib
www/app/bundle.js

node_modules

.tmp
.sass-cache
<%= appPath %>/bower_components
coverage
platforms
resources
plugins
*.swp
*.swo
*.log
*.DS_Store
DS_Store/
.DS_Store/
