<div>
  <div 
    class="chat-bubble-wrapper"
    ng-repeat="chatMessage in messagesCtrl.CS.chatMessages track by $index">

    <div class="chat-bubble"
      ng-animate=" 'animate' "
      ng-class="{'chat-bubble-left': chatMessage.speaker !== 'client'}">

      <prl-chat-bubble card="chatMessage"></prl-chat-bubble>

    </div>

  </div>

  <!-- Still loading. -->
  <div class="chat-bubble-wrapper" ng-show="messagesCtrl.stillLoading">
    <div class="chat-bubble chat-bubble-left ellipsis">
      <img src="assets/img/dotdotdot.gif"></img>
    </div>
  </div>

  <!-- No internet connection. -->
  <div class="chat-bubble-wrapper" ng-show="messagesCtrl.E404.isOffline">
    <div class="chat-bubble chat-bubble-left">
      Aw shucks. Looks like we're not online right now. Come back in a few? 
    </div>
  </div>

</div>
