<ion-view view-title="Settings" 
  ng-controller="SettingsController as vm">
  <ion-content scroll="true">

    <!-- Searchbar through goals. -->
    <label class="item item-input">
      <input type="text" ng-model="searchText" 
        placeholder="Search...">
    </label>

    <!-- Displays all goals. -->
    <ul class="list">
      <li class="item item-checkbox" 
        ng-repeat="goal in vm.goals | filter: searchText">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         {{goal.name}}
      </li>
    </ul>

  </ion-content>
</ion-view>
