<ion-view view-title="Pearl">

<!--   <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="doSomething()">
        <i class="ion-navicon-round"></i>
      </button>
    </div>
    <h1 class="title">Pearl</h1>
  </ion-header-bar>  -->

  <ion-content class="chat-history" id="chat-page">

    <ion-refresher pulling-text="Pull to refresh!" 
      on-refresh="chatCtrl.doRefresh()">
    </ion-refresher>

    <prl-messages></prl-messages>
    <div id="spacer"></div>
    <button id="bt-settings">Settings</button>
  </ion-content>

  <prl-input-space></prl-input-space>
</ion-view>
