<ion-view view-title="Pearl">
  <button id="bt-settings" 
    ng-click="chatCtrl.goToSettings()"
    ng-show="chatCtrl.LoginRegisterServ.isLoggedIn">
    <img src="assets/img/settings_200.png"></img>
  </button>

  <ion-content class="chat-history" id="chat-page">

    <ion-refresher pulling-text="Pull to refresh!" 
      on-refresh="chatCtrl.doRefresh()">
    </ion-refresher>

    <prl-messages></prl-messages>
    <div id="spacer"></div>

  </ion-content>

  <prl-input-space></prl-input-space>
</ion-view>
