<ion-view view-title="Pearl" 
  ng-init="ctrl.sendUserContext();">
  <ion-content class="chat-history" id="chat-page">

    <ion-refresher pulling-text="Pull to refresh" 
      on-refresh="ctrl.doRefresh();">
    </ion-refresher>

    <prl-chat-scroll 
      val="ctrl.ChatServ.chatMessages" 
      class="chat-bubble-wrapper" 
      ng-repeat="chatMessage in ctrl.ChatServ.chatMessages track by $index">

      <!-- TODO: This should not be hardcoded in the future. -->
      <div class="chat-bubble" 
        ng-class="{'chat-bubble-left': chatMessage.speaker !== 'client'}">
        {{chatMessage.message}}
      </div>
    </prl-chat-scroll>

    <div id="spacer"></div>

  </ion-content>

  <prl-chat-input-space>
    <div class="input-bubble"
    ng-click="ctrl.enterUserInput($index)" 
    ng-repeat="inputOption in ctrl.inputOptions track by $index">
      {{inputOption.inputMessage}}
    </div>
  </prl-chat-input-space>

  <!-- For later when we want to add typed text. -->
  <!--   <ion-footer-bar>
      <div class="item-input-inset pl-full-width">
        <label class="item-input-wrapper ">
          <input type="text" ng-model="ctrl.message" placeholder="Message">
        </label>

        <button ng-click="ctrl.sendInformation()" class="button button-small button-positive">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </div>
    </ion-footer-bar> -->
</ion-view>
