.ellipsis {
  // font-size: 24pt;
  // padding: 0;
  // margin: 0;
  // background-image: url('assets/img/dotdotdot.gif');

  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    height: 6px;
  }
}
