.prl-bubble {
  @extend %bubble;
  background-color: $orange;
  color: white;
  height: min-content;
  margin: 5px;

  @extend %sh2;

  &:active {
    @extend %sh0;
  }
}

.prl-input-bubble {
  @extend .prl-bubble;
  width: 600px;
  margin-left: 35px;
  margin-right: 35px;
}

.input-bubble {
  background-color: rgba(0,0,0,0);
  color: white !important;
  padding: 0;
  margin: 0;
  height: 0;

  // TODO: Make this dynamic.
  width: 100%;
}

.input-bubble:focus {
  color: white;
}
