<div class="chat-bubble-wrapper">
  <div class="input-bubble"
    ng-click="ctrl.determineInput(ctrl.inputOption);">
    {{ctrl.inputOption.inputMessage}}
  </div>

  <!--   <div class="input-bubble" ng-click="ctrl.enterUserInput($index)">
      {{inputOption.inputMessage}}
    </div> -->

  <!-- For later when we want to add typed text. -->
  <!--   <ion-footer-bar>
      <div class="item-input-inset pl-full-width">
        <label class="item-input-wrapper ">
          <input type="text" ng-model="ctrl.message" placeholder="Message">
        </label>

        <button ng-click="ctrl.sendInformation()" class="button button-small button-positive">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </div>
    </ion-footer-bar> -->
</div>
