<form class="prl-input-bubble"
  ng-submit="inputBubbleCtrl.submit()" 
  ng-switch="inputBubbleCtrl.inputOption.cardType">
  
  <input class="input-bubble" ng-switch-when="text" 
    ng-model="inputBubbleCtrl.inputText" type="text"></input>
  
  <input class="input-bubble" ng-switch-when="email" 
    ng-model="inputBubbleCtrl.inputText" type="email"></input>
  
  <input class="input-bubble" ng-switch-when="tel" 
    ng-model="inputBubbleCtrl.inputText" type="tel"></input>
  
  <input class="input-bubble" ng-switch-when="search" 
    ng-model="inputBubbleCtrl.inputText" type="search"></input>
  
  <input class="input-bubble" ng-switch-when="number" 
    ng-model="inputBubbleCtrl.inputText" type="number"></input>
  
  <input class="input-bubble" ng-switch-when="date" 
    ng-model="inputBubbleCtrl.inputText" type="date"></input>
  
  <input class="input-bubble" ng-switch-when="month" 
    ng-model="inputBubbleCtrl.inputText" type="month"></input>
  
  <input class="input-bubble" ng-switch-when="password" 
    ng-model="inputBubbleCtrl.inputText" type="password"></input>

</form>
