#chat-page {
  background: linear-gradient($light, $sky);
}

.chat-history {
  padding-top: 20px + $statusBarHeight;
}

prl-chat-scroll {
  height: 70%;
}

#spacer {
  // TODO: Change later to reflect all screens sizes.
  height: 200px;
  width: 100%;
}

.chat-bubble-wrapper {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.animate-enter {
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;  
}

// ngAnimate.
.animate-enter.animate-enter-stagger {
  -webkit-transition-delay:1s;
  transition-delay: 1s;

  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

%bubble {
  border-radius: 12px;
  border-bottom-right-radius: 0px;
  padding: 5px 10px;
  box-sizing: content-box;
  min-height: 1.25em;
  min-width: 2em;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.chat-bubble {
  margin-right: 10px;
  background-color: $orange;
  color: white; 
  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  max-width: 70%;  

  @extend %bubble;
}

.chat-bubble-left {
  margin-left: 10px;
  background-color: white;
  color: black; 

  border-radius: 12px;
  border-top-left-radius: 0px;
}

prl-chat-input-space {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-bubble {
  @extend %bubble;
  background-color: $orange;
  color: white;
  height: min-content;
  margin: 5px;

  @extend %sh2;

  &:active {
    @extend %sh0;
  }
}
