$statusBarHeight: 20px;

body {
  font-size: 16px;
}

.pane {
  background-color: black;
  background: linear-gradient($light, $sky);
}

.nav-upper-padding {
  width: 100%;
  height: $statusBarHeight;
  background: linear-gradient(black, lighten(black, 5%));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.7;
  @extend %sh1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider {
  height: 100%;
}

.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // FIXME: Horribly hard-coded styling for logging in.
  & > * {
    width: 100%;
    padding: 0;
  }

}

label.item {
  border: 0px;
}