$statusBarHeight: 20px;

body {
  font-size: 16px;
}

.pane {
  background-color: $light_background;
}

.nav-upper-padding {
  width: 100%;
  height: $statusBarHeight;
  background: linear-gradient(black, lighten(black, 5%));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.7;
  @extend %sh1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider {
  height: 100%;
}

label.item {
  border: 0px;
}

.padding-container {
  padding: 0 10px;
}

.item-input {
  padding: 0 10px;
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-bar-indicator {
  display: none;
}
